@charset "UTF-8";

body{
    background-color: bisque;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1{
    color: rgb(245, 149, 6);
    background-color: rgb(230, 222, 158);
}
h2{
    color: rgb(141, 83, 8);
}
p{
    text-align: justify;
}